.wrapper {
  position: relative;
  width: 300px;
  margin-right: 5px;
  border-radius: 4px;
  padding: 15px;
}

.container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  cursor: pointer;
  font-size: 25px;
  font-weight: 200;
  color: #ccc;
  border-radius: 4px;
}

.container:hover {
  background: #f9f9f9;
}

.add_button {
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
