.board {
  position: relative;
  height: calc(100vh - 95px);
  box-sizing: border-box;
  overflow-y: hidden;
}

.lists_wrapper {
  display: flex;
  flex-flow: row;
  height: 100%;
  position: absolute;
  left: 0;
  padding: 15px;
}

.slider_wrapper {
  display: flex;
  flex-flow: row;
  height: 100%;
  left: 0;
  overflow: hidden;
  margin-top: 15px;
}

:global(.slick-track) {
  display: flex !important;
}

:global(.slick-arrow) {
  display: none !important;
}
